# Python
venv/
__pycache__/
*.pyc
*.pyo
.Python
*.egg-info/

# Env
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# OS
.DS_Store
Thumbs.db

# Node (pour l'extension V2)
node_modules/

# Build
dist/
build/